@import '../lib/Vars.scss';

body {
    margin: 0;
    background-color: $pv-purple;
    font-family: $pv-font;
    overflow-x: hidden;
    @media screen and (max-width: $media-s) {
        background: linear-gradient($pv-green, $pv-purple);
    }
}
