.not-found__container {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
    h1 {
        font-size: 55px;
        margin: 0;
        animation: heartbeat 2s infinite;
        cursor: default;
        user-select: none;
    }

    h4 {
        cursor: default;
        user-select: none;
    }
}

@keyframes heartbeat {
    0%   {transform: scale(1);}
    6%  {transform: scale(1.2);}
    12%  {transform: scale(1.5);}
    18%  {transform: scale(1.2);}
    24% {transform: scale(1);}
    100% {}
}